.customContainer {
  background: #f2f2f2;
  width: 100%;
  height: 100vh;
  border: 1px solid #ccc;
}

.headerContent {
  display: flex;
  padding: 30px;
  background: #0099cc;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.titleName {
  font-size: 25px;
  color: #fff;
}

.addUser button {
  background: #0099cc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.bodyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentBox {
  height: 700px;
  width: 90%;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  padding-bottom: 60px;
}

.contentBoxUser {
  height: 100%;
  width: 90%;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.userBox {
  margin: 20px;
  height: 500px;
  width: 100%;
  border-radius: 15px;
  overflow-y: auto;
  padding: 10px;
}

.userData {
  background: #f9f9f9;
  height: 100px;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.userLeft,
.userRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  justify-content: center;
}

.label {
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.zero,
.User {
  font-size: 100px;
  color: #ffcc00;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.editButton {
  font-size: 16px;
  padding: 8px 16px;
  width: 15%;
}

@media screen and (max-width: 768px) {
  .headerContent {
    padding: 20px;
  }

  .titleName {
    font-size: 20px;
  }

  .userLeft,
  .userRight {
    padding: 10px;
  }

  .label {
    font-size: 16px;
  }

  .zero,
  .User {
    font-size: 60px;
  }

  .contentBox,
  .contentBoxUser {
    width: 95%;
  }

  .contentBoxUser {
    padding: 20px;
  }
}

@media screen and (max-width: 576px) {
  .headerContent {
    padding: 10px;
  }

  .titleName {
    font-size: 16px;
  }

  .userLeft,
  .userRight {
    padding: 5px;
  }

  .label {
    font-size: 14px;
  }

  .zero,
  .User {
    font-size: 40px;
  }

  .contentBox,
  .contentBoxUser {
    width: 100%;
  }

  .contentBoxUser {
    padding: 10px;
  }
}

.container0User {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: -20px;
}

.zeroUsersText {
  font-size: 30px;
  color: #555;
}
